.usersContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}
.userCard {
  width: 100%;
  background: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  word-break: break-word;
}

.userCardHeader {
  font-weight: bold;
  /* margin-bottom: 10px; */
}

.inputContainer {
  margin-bottom: 30px;
}
